.navbar-brand {
    font-family: 'Courier New', Courier, monospace; /* Replace with your preferred font */
    font-size: 1.5rem; /* Adjust size as needed */
    color: #ff6347; /* Replace with your preferred color */
}


/* auth forms */
div.signup, div.login {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px auto;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
}